body { 
    background-image: url('../assets/images/weatherBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /*(Optional) Fix the image so it doesn't scroll with content */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 450px; 
    background: linear-gradient(180deg, #456580c5, #6c5b7bc5, #c06c84c5);
    border-radius: 30px;
    padding: 0 10px;
    margin: 100px auto;
    box-shadow: 0 0 15px #ffffff;
}

.inputForm {
    display: flex;
    align-items: center;
    gap: 0.5em;;
    margin-top: 2em;
    padding: 0.5em;
    font-size: 1.2em;
} 

.cityInput {
    width: 170px;
    font-size: 0.9em;
    border: 1px solid ;
    padding: 0.3em 0.7em; 
    border-radius: 50px;
    background-color: rgba(223, 223, 223, 0.342);
}

.getWeather {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    border: none; 
    border-radius: 50px;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.getWeather:hover {
    background-color: rgba(223, 223, 223, 0.342);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.cityName {
    font-size: 4em;
    margin: 40px 0 20px 0;
}

.card>p {
    font-size: 1.5em;
    margin: 20px 0;
}

.temp {
    font-size: 3.5em !important;
}

.weatherDesp {
    margin: 0;
    font-size: 2em !important;
    text-transform: capitalize;
}

.weatherEmoji {
    font-size: 5em !important;
    margin: 0 0 20px 0 !important;
}

.errorMessage {
    color: red;
    margin: 20px 0;
    text-align: center;
}
